html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: #3cbcfd;
}

.svg-canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;

}

.outline {
  fill: #000;
}

.shine {
  fill: #fff;
  opacity: 0.9
}

.heart .fill {
  fill: red;
}

.container {
  overflow: hidden;
  width: 169px;
}

.plant-container {
  transform-origin: left bottom;
  overflow: hidden;
  width: 159px;
}